<footer class="connect-dps-common-footer govuk-!-display-none-print" role="contentinfo">
  <div class="govuk-width-container">
      <div class="govuk-grid-row">
          <div id="connect-dps-common-footer-services" class="govuk-grid-column-three-quarters connect-dps-common-footer__services-menu">
              <h2>Services</h2>
              <ul class="govuk-list">

                          <li><a class="connect-dps-common-footer__link" href="https://accredited-programmes-dev.hmpps.service.justice.gov.uk">Accredited Programmes</a></li>
                   
                          <li><a class="connect-dps-common-footer__link" href="https://manage-adjudications-dev.hmpps.service.justice.gov.uk">Adjudications</a></li>
       
                          <li><a class="connect-dps-common-footer__link" href="https://check-my-diary-dev.prison.service.justice.gov.uk?fromDPS=true">Check my diary</a></li>
                      
                          <li><a class="connect-dps-common-footer__link" href="https://create-and-vary-a-licence-dev.hmpps.service.justice.gov.uk">Create and vary a licence</a></li>
                      
                          <li><a class="connect-dps-common-footer__link" href="https://dps-dev.prison.service.justice.gov.uk/establishment-roll">Establishment roll check</a></li>
           
                          <li><a class="connect-dps-common-footer__link" href="https://licences-dev.prison.service.justice.gov.uk">Home Detention Curfew</a></li>
         
                          <li><a class="connect-dps-common-footer__link" href="https://incentives-ui-dev.hmpps.service.justice.gov.uk">Incentives</a></li>
                      
                          <li><a class="connect-dps-common-footer__link" href="https://learning-and-work-progress-dev.hmpps.service.justice.gov.uk">Learning and work progress</a></li>

                          <li><a class="connect-dps-common-footer__link" href="https://digital-dev.prison.service.justice.gov.uk/manage-prisoner-whereabouts">Prisoner whereabouts</a></li>

                          <li><a class="connect-dps-common-footer__link" href="https://digital-prison-reporting-mi-ui-dev.hmpps.service.justice.gov.uk">Reporting</a></li>

                          <li><a class="connect-dps-common-footer__link" href="https://submit-a-mercury-report-dev.hmpps.service.justice.gov.uk">Submit an Intelligence Report</a></li>
  
                          <li><a class="connect-dps-common-footer__link" href="https://welcome-dev.prison.service.justice.gov.uk">Welcome people into prison</a></li>
        
              </ul>
          </div>
          <div class="govuk-grid-column-one-quarter">
              <div class="connect-dps-common-footer__help">
                  <h2>Get help with DPS</h2>
                  <p>Call 0800 917 5148 or #6598 from inside an establishment.</p>
              </div>
          </div>
      </div>
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
              <div class="connect-dps-common-footer__support-links">
                  <h2 class="govuk-visually-hidden">Support links</h2>

                  <ul class="connect-dps-common-footer__inline-list">
                      <li class="connect-dps-common-footer__inline-list-item">
                          <a class="connect-dps-common-footer__link" href="https://eu.surveymonkey.com/r/HJTL6XS" target="_blank" referrerpolicy="no-referrer" rel="noopener">
                              Feedback (opens in a new tab)
                          </a>
                      </li>

                      
                          <li class="connect-dps-common-footer__inline-list-item">
                              <a class="connect-dps-common-footer__link" href="https://dps-dev.prison.service.justice.gov.uk/accessibility-statement">
                                  Accessibility
                              </a>
                          </li>
                      
                          <li class="connect-dps-common-footer__inline-list-item">
                              <a class="connect-dps-common-footer__link" href="https://dps-dev.prison.service.justice.gov.uk/terms-and-conditions">
                                  Terms and conditions
                              </a>
                          </li>
                      
                          <li class="connect-dps-common-footer__inline-list-item">
                              <a class="connect-dps-common-footer__link" href="https://dps-dev.prison.service.justice.gov.uk/privacy-policy">
                                  Privacy policy
                              </a>
                          </li>
                      
                          <li class="connect-dps-common-footer__inline-list-item">
                              <a class="connect-dps-common-footer__link" href="https://dps-dev.prison.service.justice.gov.uk/cookies-policy">
                                  Cookies policy
                              </a>
                          </li>
                      
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>