{% extends "layouts/cvl.html" %}

{% set pageName="Home" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}

{% include "components/cvl-dm-header/include.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="govuk-inset-text govuk-!-margin-top-0">
      <h2 class="govuk-heading-l">Updates to additional licence conditions
      </h2>
      <p>An updated <a href="https://www.gov.uk/government/publications/licence-conditions-policy-framework" class="govuk-link--no-visited-state">Licence Conditions Policy Framework</a> has been published. It contains some new additional conditions. Others have changed and some removed.</p>
      <p>You can now use these additional conditions in this service. If you vary a licence containing conditions that have changed, you will be asked to review the changes so the updated conditions can be used.</p>
    </div>

  </div>
</div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
    
  
    <h1 class="govuk-heading-l">
      Create and vary a licence
        </h1>
   


      
          <div class="govuk-grid-row card-group">
                
            <div class="govuk-grid-column-one-third card-group__item">
                
<div id="approveLicenceCard" class="card card--clickable">
<h2 class="govuk-heading-m card__heading">
    <a class="govuk-link card__link" href="case-list">Approve a licence</a>
</h2>
<p class="govuk-body card__description">Approve standard determinate licences and post sentence supervision orders.</p>
</div>

            </div>
        
    </div>

  </div>


  </div>
</div>

{% endblock %}


{% block footer %}

{% include "components/cvl-dm-ca-footer/include.html" %}

{% endblock %}